# WARN: have to be copied to project root folder
#   Note:
#       The .env file in the project root, and the env_file: field in the Compose file are two different concepts.
#       The .env is for settings a default environment for Compose. Values set in this file can be used within the Compose file.

SWAG_DOMAIN=${DOMAIN_1}
SWAG_DOMAIN2=${DOMAIN_2}
